<!DOCTYPE html>

<html> 

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>新闻细节</title>

<meta name="description" content="目前商业地产择机高位售卖套现为明智之举" />

<meta name="keywords" content="" />

<link  href="__STATIC__/stand/css/style.css" rel="stylesheet" type="text/css" media="all" />

<link rel="stylesheet" type="text/css" href="__STATIC__/css/page.css"/>

<!--[if lte IE 6]>

    <script type="text/javascript" src="belatedPNG.js" tppabs="__STATIC__/stand/js/belatedPNG.js"></script>

    <script type="text/javascript">

      DD_belatedPNG.fix('.nav_wrap');

    </script>

<![endif]-->

</head>

<body>

    <div class="header-wrap">

        <div class="mar-wrap2">

            <div class="nav">

                <a href="{:url('index/index')}" id="nav_">首页</a>

                <a href="{:url('About/about')}" id="nav_113">走进英地</a>

                <a href="{:url('About/news')}" class='cur'>媒体中心</a>

                <a href="{:url('About/employ')}" class=" ">加入英地</a>

                <a href="{:url('About/team')}" class=" ">产品中心</a>

                <a href="{:url('About/book')}" class=" ">英地内刊</a>

                <a href="{:url('About/contract')}" class=" ">联络我们</a>

            </div>

            <a href="{:url('index/index')}" class="logo"><img style="width: 100px;height: 60px;"  src="__STATIC__/travel/images/logo.png" alt=""></a>   

         

        </div>

    </div>

    <div class="team-bg news-bg">

        <div class="mar-wrap4">

            <h1>媒体中心</h1>

        </div>

    </div>

    <div class="mar-wrap2 pad">

        <p class="bread"><a href="">HOME</a>><a href="{:url('About/news')}">媒体中心</a></p>

        <div class="top-wrap clearfix">

            <div class="news-detail">

                <div class="detail-title clearfix">

                    <div class="date">

                        <h3>{:date('d',$article.article_creatime)}</h3>

                        <p>{:date('M',$article.article_creatime)}</p>

                    </div>

                    <div class="dt-info">

                        <h3>{$article.article_title}</h3>

                        <p>

                            <span>来源：{$article.article_author}</span>

                            

                        </p>

                    </div>

                </div>

                

                <div class="news-word">

                

                  <p>{$article.article_title}</p><p>{$article.article_content}</p><p>来源 {$article.article_author}</p><p><br/></p>                </div>

				<div class="prenext">

					

					<span class="next"><a href="{:url('About/news')}">返回列表</a></span>

				</div>

            </div>

            <div class="about-news">

               



                

               

              

               

                

            </div>

        </div>

    </div>      

    <div class="footer-wrap">

        <div class="mar-wrap clearfix">

            <div class="ewm-operation">

                <div class="ewm-wrap">

                    <img  src="__STATIC__/stand/images/weixin.jpg" alt="" class="sm-ewm">   

                    <p>微信二维码</p>

                    <img  src="__STATIC__/stand/images/ewm01.png" alt="" class="show-ewm">

                </div>


            </div>

            <p class="footer-link">

            <a href="{:url('index/index')}">首页</a>|

            <a href="{:url('About/news')}">媒体中心</a>|

            <a href="{:url('About/employ')}">加入英地</a>|



            <a href="{:url('About/contract')}">联络我们</a>|

            <a href="{:url('About/about')}">走进英地</a><br>Copyright © 2009-2018            

            <a href="">英地资产</a>All Rights Reserved

            <span><a href="" target="_blank" rel="nofollow">蜀ICP备18003460号</a></span>

            </p>

        </div>

    </div>

<script type="text/javascript"  src="__STATIC__/stand/js/jquery-1.10.1.min.js"></script>

<script type="text/javascript"  src="__STATIC__/stand/js/min.index.js"></script>

<script type="text/javascript"  src="__STATIC__/travel/js/noCopy.js"></script>

</body>

</html>