<!DOCTYPE html>
<html class="am-touch js cssanimations"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>英地资产</title>
<meta name="description" content="">
<meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp">
<script charset="utf-8" src="__PUBLIC__/js/v.js"></script><script src="__PUBLIC__/js/push.js"></script><script src="__PUBLIC__/js/hm.js"></script><script type="text/javascript">

(function() {
var UA = window.navigator.userAgent,
    IsAndroid = (/Android|HTC/i.test(UA) || /Linux/i.test(window.navigator.platform + '')),
    IsIPad = !IsAndroid && /iPad/i.test(UA),
    IsIPhone = !IsAndroid && /iPod|iPhone/i.test(UA),
    IsIOS =  IsIPad || IsIPhone,
    IsWindowsPhone =  /Windows Phone/i.test(UA),
    IsWeixin = /MicroMessenger/i.test(UA);
    if (IsAndroid || IsIOS || IsWindowsPhone) {
        //iOS、Android、Windows Phone执行
        return;
    }
    else
    {
        var linkurl = window.location.href;
        var host = window.location.host
        var ReturnLinkUrl = "{:url('index/rental/rentaldetail',['rental_id'=>$rdet.rental_id])}";
        window.location.href = ReturnLinkUrl;
    }
})();

</script>

  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__/css/app.css">
  <link rel="stylesheet" href="__PUBLIC__/css/idangerous.swiper.css">
  <script type="text/javascript" src="__PUBLIC__/js/api"></script><script type="text/javascript" src="__PUBLIC__/js/getscript"></script>
<style type="text/css">
    #normal_map {width:100%;height:226px;overflow: hidden;}
  </style>
 </head>
  
<body>
<div class="am-g c-header">
   <div class="c-links">
     <a href="{:url('search/index')}"><img src="__PUBLIC__/images/search.png" alt=""></a>
   </div>
   <a href="javascript:history.go(-1);"><img src="__PUBLIC__/images/return.png" alt="" class="c-return"></a>
   <h3 class="title-center">房屋详情</h3>
</div>
<div class="am-g">
  <div class="swiper-device">
   <div class="swiper-container" style="cursor: -webkit-grab;">
      <div class="swiper-wrapper" style="width: 1080px; height: 270px; left: -360px; top: 0px; transition-duration: 0s;">

        <div xmlns="http://www.w3.org/1999/xhtml" class="swiper-slide" style="width: 360px; height: 270px;"> 
          <img src="__STATIC__/{$rdet.rental_src}" title="{$rdet.rental_name}">
        </div>

      </div>

    </div>
    <div class="pagination"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span></div>
  </div>
  <div class="detail-info">
    <h2>{$rdet.rental_name}</h2>
      <p>租金：<span class="para-pad"><b class="font-color1">{$rdet.rental_price}元/月</b></span></p>
    <p>类型：<span class="para-pad"><a href="">{$rdet.rental_class}</a></span>
    <p>地铁线路：
    <span><a href="">{$rdet.rental_subway}</a></span>
    <p>出租面积：<span class="para-pad">{$rdet.rental_area}m²</span></p>
    <p>地址：<span>{$rdet.rental_address}</span></p>
  </div>
</div>
<div class="am-g c-info">
  <h3>楼盘详情</h3>
  <div class="c-description">
    <p>{$rdet.rental_des}</p>
  </div>
   <div class="am-cf"><button class="more-info">更多详情</button></div>
</div>
<div class="am-g c-recommend">
   <div class="floor-wrap">
     <h3>相关推荐</h3>
     <ul class="am-cf floor-list">
      {volist name="tres" id="tr"}
            <li>
          <div class="floor-border">
            <a href="{:url('rentaldet',['rid'=>$tr.rental_id])}" title="{$tr.rental_name}">
             <div class="img-wrap">
               <img src="__STATIC__/{$tr.rental_src}" alt="{$tr.rental_name}">
             </div>
             <h4>{$tr.rental_name}</h4>
             <p class="floor-info"><b>{$tr.rental_price}</b>元/月</p>
            </a>
          </div>
       </li>
      {/volist}      
         </ul>
   </div>
</div>
<script>
  var newsurl="/";
</script>
<script src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
<div class="am-g c-footer">
  <p class="copyright">© 2009-2018 <a href="h{:url('index/index/index')}"> 英地资产</a><br><a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备18003460号</a></p>
</div>
<span style="display:none;"><script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?56fd97fab2697f58776995f4884b17f8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--统计代码-->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<!--自动推送代码--></span>
<div class="c-agent am-cf">
  <a href="tel:13111871088" id="share-link-contact-phone-online">
    <div class="agent-phone">
      <img src="__PUBLIC__/images/tel.png" alt="">拨打电话
    </div>
  </a>
  <img id="share-link-contact-profile" src="__PUBLIC__/images/default.jpg" alt="" class="agent-photo">
  <p><span id="share-link-contact-name">英地资产</span><br><span id="share-link-contact-phone">13111871088</span></p>
</div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/idangerous.swiper-2.1.min.js"></script>
<script src="__PUBLIC__/js/app.js"></script>
<script type="text/javascript">
  var mySwiper=$(".swiper-container").swiper({
    pagination: '.pagination',
    loop:true,
    grabCursor: true,
    paginationClickable: true,
    keyboardControl: true,
    mousewheelControl : false,
    mousewheelControlForceToAxis : false,
    useCSS3Transforms : false,
    slideClass: 'swiper-slide'
  });
</script>
<div id="shareLinkStatuscode" style="display:none;">:53:undefined</div></body></html>